body{
    margin: 0;
    padding: 0;
    background-color: rgb(161, 197, 255);
}
.content 
{   
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0  ;
}

.back {
    position: absolute;
    display: flex;
    width: 60px;
    height: 0px;
    left :50%;
    top: 50%;
    border-right: 10px solid transparent;   
    border-left: 10px solid transparent;
    border-top: 65px solid #853a26;
}
.top{
    position: absolute;
    left: 49.25%;
    top : 48%;
    width: 100px;
    height: 20px;
    background-color: #853a26;
}
.topshadow{
    position: absolute;
    display: flex;
    z-index: 2;
    left: 50.05%;
    top : 51%;
    width: 73px;
    height: 0px;
    border-left: 3px solid transparent;
    border-right:3px solid transparent ;
    border-top: 10px solid #00000047;
}

.tige{
    display: flex;
    position: absolute;
    top: 36.2%;
    left:52.5%;
    width : 5px;
    height: 80px;
    background-color: green;
}
.coeur {
    display: flex;
    z-index: 2;
    position: absolute;
    top:31%; 
    left:51.5%;
    background-color: yellow;
    width: 35px;
    height: 35px;
    border-radius: 999px;
}

.leaf{
    width: 15px;
    height: 15px;
    top : 45%;
    left : 51.5%;
    position: absolute;
    background-color: green;
    border-radius: 50px;
    border-top-right-radius: 0;
/*     transform: rotate(-283deg) skewX(-12deg)  skewY(-4deg); 
*/  transform: skewX(-12deg) skewY(4deg) rotate(5deg); 

}

.leafshadow{
    width: 8px;
    height: 8px;
    top : 45.9%;
    left : 51.9%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.419);
    border-radius: 50px;
    border-top-right-radius: 0  ;
/*     transform: rotate(-283deg) skewX(-12deg)  skewY(-4deg); 
*/  transform: skewX(-12deg) skewY(4deg) rotate(15deg);

}

.leaf2{
    width: 15px;
    height: 15px;
    top : 41%;
    left : 52.95%;
    position: absolute;
    background-color: green;
    border-radius: 50px;
    border-top-right-radius: 0;
/*     transform: rotate(-283deg) skewX(-12deg)  skewY(-4deg); 
*/  transform: skewX(-12deg) skewY(4deg) rotate(205deg); 

}

.leafshadow2{
    width: 8px;
    height: 8px;
    top : 41.8%;
    left : 52.99%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.419);
    border-radius: 50px;
    border-top-right-radius: 0  ;
/*     transform: rotate(-283deg) skewX(-12deg)  skewY(-4deg); 
*/  transform: skewX(-12deg) skewY(4deg) rotate(205deg);

}

.pet1{
    width: 30px;
    height: 30px;
    top : 30%;
    display: flex;
    z-index: 1;
    left : 53.2%;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    border-top-right-radius: 0;
    transform: skewX(-10deg) skewY(8deg) rotate(190deg); 
}

.pet2{
    width: 30px;
    height: 30px;
    top : 28%;
    display: flex;
    z-index: 1;
    left : 51.7%;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    border-top-right-radius: 0;
    transform: skewX(-10deg) skewY(8deg) rotate(120deg); 
}
.pet3{
    width: 30px;
    height: 30px;
    top : 30%;
    display: flex;
    z-index: 1;
    left : 50%;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    border-top-right-radius: 0;
    transform: skewX(-10deg) skewY(8deg) rotate(60deg); 
}
.pet4{
    width: 30px;
    height: 30px;
    top : 33.8%;
    left : 50.4%;
    display: flex;
    z-index: 1;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    border-top-right-radius: 0;
    transform: skewX(-10deg) skewY(8deg)rotate(-10deg); 
}
.pet5{
    width: 30px;
    height: 30px;
    top : 33.5%;
    left : 53%;
    display: flex;
    z-index: 1;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    border-top-right-radius: 0;
    transform: skewX(-10deg) skewY(8deg) rotate(260deg); 
}
.pet6{
    width: 30px;
    height: 30px;
    top : 34.5%;
    left : 52%;
    display: flex;
    z-index: 1;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    border-top-right-radius: 0;
    transform: skewX(-10deg) skewY(8deg) rotate(-55deg); 
}